/* connecting custom font */
@font-face {
    font-family: Comfortaa;
    src: url("fonts/comfortaa/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
    font-family: JetBrainsMono;
    src: url("fonts/jetbrains_mono/JetBrainsMono-ExtraBold.ttf");
}

/* defining background for all pages */
html {
    height: 100%;
    background: #141e30;
}

/* defining font for all pages */
body {
    font-family: Comfortaa, serif;
    color: whitesmoke;
}

/* simple div class for all webpage elements */
.web-element {
    /* position */
    margin: 10px auto auto auto;
    width: 80%;
    padding: 70px;
    /* appearance */
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

/* headers in web-elements */
.web-element h1 {
    /* position */
    margin-top: 30px;
    /* text styling */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

.web-element code {
    font-family: JetBrainsMono;
    font-size: 20px;
    color: aqua;
    background: transparent;
    margin-left: 10px;
}

.web-element .help p {
    font-size: 30px;
}

/* div class for positioning buttons in a grid */
.grid-container {
    display: grid;
    margin: auto;
    width: 70%;
    grid-template-columns: auto auto auto;
}

.grid-container input[type="submit"] {
    padding: 10px 10px;
    margin: 0 10px 10px 0px;
}

/* text input */
.web-element .text-input {
    position: relative;
}

.web-element .text-input input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: whitesmoke;
}

/* naming for input */
.web-element .text-input label {
    pointer-events: none;
    padding: 10px 0;
    top: 0;
    left: 0;
    font-size: 16px;
    color: whitesmoke;
    position: absolute;
    transition: .5s;
}

.web-element .text-input input:focus ~ label,
.web-element .text-input input:valid ~ label {
    top: -20px;
    left: 0;

    color: aqua;
    font-size: 12px;
}

/* buttons style */
.web-element input[type="submit"] {
    padding: 10px 20px;
    overflow: hidden;
    background: transparent;
    border-radius: 5px;
    border-width: 2px;
    border-color: aqua;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    color: aqua;
    letter-spacing: 4px;
    position: relative;
    transition: .5s;
}

/* button animation */
.web-element input[type="submit"]:hover {
    background: aqua;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 0 0 0 aqua, 0 0 15px aqua, 0 0 25px aqua, 0 0 50px aqua;
    color: whitesmoke;
}

/* class for notes */
.comment {
    color: gray;
    font-size: 11px;
}