html { height: 100%; background: #141e30; }
@font-face { font-family: Comfortaa; src: url("fonts/comfortaa/Comfortaa-VariableFont_wght.ttf"); }
body { font-family: Comfortaa, serif; }

.home-box {
    margin: auto;
    width: 60%;
    padding: 70px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.head-site {height:50px;}

details {
    color: #FFFFFF;
    text-align: right;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin: auto;
    width: 10%;
    float: right;
    padding: 30px;
    background: #141e30;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    transition: .5s;
}

details[open] {
    transition: .5s;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

.content {width:960px; float:center; padding:20px 0 0 0; }
.content .text {color: #FFFFFF}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background: aqua;
  border-radius: 5px;
  border-color: transparent;
}

