/* special textarea input */
.solver-box .input-box {
    position: relative;
}

.solver-box .input-box textarea {
    overflow: hidden;
    resize: none;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
    padding: 10px 0;
    font-size: 16px;
    color: whitesmoke;
}

.solver-box .input-box label {
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    color: whitesmoke;
    padding: 10px 0;
    font-size: 16px;
    transition: .5s;
}

.solver-box .input-box textarea:focus ~ label,
.solver-box .input-box textarea:valid ~ label {
    top: -45px;
    color: aqua;
    font-size: 12px;
}

/* special textarea output */
.solver-box .output {
    position: relative;
    margin-top: 70px;
}

.solver-box .output textarea {
    margin-left: 20px;
    margin-top: 40px;
    overflow: hidden;
    resize: none;
    width: 100%;
    background: transparent;
    border: 1px whitesmoke;
    outline: aqua;
    padding: 10px;
    font-size: 16px;
    color: aqua;
}

.solver-box .output label {
    margin-top: 40px;
    position: relative;
    color: whitesmoke;
    padding: 10px 0;
    font-size: 16px;
}

/* range input */
.range input[type="text"] {
    background: transparent;
    border: 1px aqua;
    outline: aqua;
    width: fit-content;
    color: whitesmoke;
    font-family: JetBrainsMono;
}