html {
    height: 100%;
    background: #141e30;
}

@font-face {
    font-family: Comfortaa;
    src: url("fonts/comfortaa/Comfortaa-VariableFont_wght.ttf");
}

body {
    font-family: Comfortaa, serif;
}

.solver-box {
    margin: auto;
    margin-bottom: 100px;
    width: 80%;
    padding: 70px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.solver-box h2 {
    margin: 0 0 50px;
    color: whitesmoke;
    text-align: left;
}

.solver-box .input-box {
    position: relative;
}

.solver-box .input-box textarea {
    overflow: hidden;
    resize: none;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
    padding: 10px 0;
    font-size: 16px;
    color: whitesmoke;
}

.solver-box .input-box label {
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    color: whitesmoke;
    padding: 10px 0;
    font-size: 16px;
    transition: .5s;
}

.solver-box .input-box textarea:focus ~ label,
.solver-box .input-box textarea:valid ~ label {
    top: -45px;
    color: aqua;
    font-size: 12px;
}

.solver-box .output {
    position: relative;
    margin-top: 70px;
}

.solver-box .output textarea {
    margin-left: 20px;
    margin-top: 40px;
    overflow: hidden;
    resize: none;
    width: 100%;
    background: transparent;
    border: 1px whitesmoke;
    outline: aqua;
    padding: 10px;
    font-size: 16px;
    color: aqua;
}

.solver-box .output label {
    margin-top: 40px;
    position: relative;
    color: whitesmoke;
    padding: 10px 0;
    font-size: 16px;
}

.solver-box input[type="submit"] {
    padding: 10px 20px;
    margin-top: 40px;
    overflow: hidden;

    background: transparent;
    border-radius: 5px;
    border-width: 2px;
    border-color: aqua;
    display: inline-block;

    font-size: 16px;
    text-transform: uppercase;
    color: aqua;
    letter-spacing: 4px;
    position: relative;

    transition: .5s;
}

.solver-box input[type="submit"]:hover {
    background: aqua;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 0 0 0 aqua, 0 0 15px aqua, 0 0 25px aqua, 0 0 50px aqua;

    color: whitesmoke;
}
