<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/base.css') }}>
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/maths.css') }}>
    <title>Calculatro graphics</title>
</head>
<body>
<div class="web-element">
    <form class="solver-box" action="/calculatro/plot-function" method="post">
        <h2>PLOT A FUNCTION</h2>
        <div class="comment">
            <p>Note: functon must contain only one variable - x.</p>
        </div>
        <div class="input-box" style="margin-top: 50px">
            <textarea required onkeyup="this.style.height='13px'; this.style.height = this.scrollHeight + 20 + 'px';" name="expression">{{ function }}</textarea>
            <label>Function</label>
        </div>
        <div class="range">
            <p>Range - <input type="text" name="start" placeholder="from" required value={{ xstrart }}>:<input  type="text" name="end" placeholder="to" required value={{ xend }}></p>
        </div>
        <div style="margin-top: 50px">
            <input type="submit" name="plot" value="PLOT">
        </div>
        <div style="margin-top: 50px">
            {% if graph %}
            <img src={{ url_for('static', filename='images/graphic.png') }}>
            {% endif %}
        </div>
    </form>
</div>
<div class="web-element" style="margin-top: 50px">
    <form class="solver-box" action="/calculatro/plot-function" method="post">
        <h2>PARAMETRIC PLOT</h2>
        <div class="comment">
            <p>Note: functons must contain only one variable - u.</p>
        </div>
        <div class="input-box" style="margin-top: 50px">
            <textarea required onkeyup="this.style.height='13px'; this.style.height = this.scrollHeight + 20 + 'px';" name="expression1">{{ pfunction1 }}</textarea>
            <label>Function 1</label>
        </div>
        <div class="input-box" style="margin-top: 50px">
            <textarea required onkeyup="this.style.height='13px'; this.style.height = this.scrollHeight + 20 + 'px';" name="expression2">{{ pfunction2 }}</textarea>
            <label>Function 2</label>
        </div>
        <div class="range">
            <p>Range - <input type="text" name="pstart" placeholder="from" required value={{ ustart }}>:<input  type="text" name="pend" placeholder="to" required value={{ uend }}></p>
        </div>
        <div style="margin-top: 50px">
            <input type="submit" name="pplot" value="PLOT">
        </div>
        <div style="margin-top: 50px">
            {% if pgraph %}
            <img src={{ url_for('static', filename='images/parametric_graphic.png') }}>
            {% endif %}
        </div>
    </form>
</div>
<div style="margin-top: 50px">
    <form class="web-element" action="/calculatro/plot-function" method="post" style="width: fit-content; alignment: left">
        <div>
            <input type="submit" name="back" value="BACK TO MAIN PAGE">
        </div>
    </form>
</div>
</body>
</html>
