<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/base.css') }}>
    <title>Home</title>
</head>
<body>
<div class="web-element">
<h1>Справочник</h1>
Если вы не знаете как правильно записывать уравнения или возникли какие-то трудности)
<h2>Правильная запись алгебраических элементов</h2>
<p>1)Все переменные пишутся на английском, строчными
   2)= - равно* - умножение; / - деление; + - плюс; - - минус; ^ - степень; Sqrt[пер] - корень; ( ) - скобки;
   Пример: 2x + 20 == 30; x^2 == 4</p>
<h3>Химические уравнения</h3>
<p>1)Элементы записываются также, как в периодической таблице химических элементов
   2)Коэффициенты - обычные цифры
   3) + - плюс; - - минус; -> - равно
   Пример: H2SO4 - серная  кислота;
   Ввод: Na + H2O -> NaOH + H2 Вывод: 2Na + 2H2O -> 2NaOH + H2</p>
<p>Если будут претензии, то обращаться не к кому</p>
</div>
</body>
</html>