<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/home.css') }}>
    <title>Home</title>
</head>
<body>
<div id="basic">
        <div id="head-site">
            <img src="/static/img/logo.png" alt="Калькулятор"/>
        </div>
</div>
<details>
    <summary>Profile</summary>
    Something small enough to escape casual notice.
</details>
<div id="content">
    <p>This site was created to help schoolchildren who are too lazy to spend their time counting or finding
        any answers. We invite you to quickly try out the possibilities of our site.
    </p>
    <img src="/static/img/wolfr.png" alt="" width="40" height="40" style="margin-right:40px;" />
</div>
<div class="grid-container">
  <button><a href="/equations.html">EQUATIONS</a></button>
  <button><a href="/geometry.html">GEOMETRY</a></button>
  <button><a href="/graphics.html">GRAPIHICS</a></button>
  <button><a href="/chemistry.html">CHEMISTRY</a></button>
  <button><a href="/figures.html">FIGURES</a></button>
  <button><a href="/text_from_picture.html">TEXT FROM PICTURE</a></button>
</div>
</body>
</html>