<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/base.css') }}>
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/login_register.css') }}>
    <title>Login</title>
</head>
<body>
<div class="web-element" style="width: 30%">
    <h2>Login</h2>
    <form>
        <div class="text-input">
            <input type="text" name="user" required="required" title="" value={{ eu }}>
            <label>Username or email</label>
        </div>
        <div class="text-input">
            <input type="password" name="password" required="required" title="" value={{ password }}>
            <label>Password</label>
        </div>
        <input type="submit" name="login" value="LOGIN" class="submit-button">
    </form>
</div>
<div class="web-element" style="width: fit-content; margin-top: 50px">
    <form class="solver-box" action="/calculatro/login" method="post" style="width: fit-content; alignment: left">
        <div class="submit-button">
            <input type="submit" name="back" value="BACK TO MAIN PAGE" formmethod="post" style="margin-top: 0px">
        </div>
    </form>
</div>
</body>
</html>