<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/base.css') }}>
    <title>Home</title>
</head>
<body>
<div class="web-element">
    <h2>CALCULATRO</h2>
    <form action="/calculatro/main" method="post">
        <div class="content">
            <p class="text"></p>
        </div>
        <div class="grid-container" style="margin-top: 50px">
            <input type="submit" name="equation" value="EQUATIONS">
            <input type="submit" name="graphics" value="GRAPHICS">
            <input type="submit" name="chemistry" value="CHEMISTRY">
            <input type="submit" name="physics" value="PHYSICS">
            <input type="submit" name="text" value="TEXT">
        </div>
    </form>
</div>
<div class="web-element" style="margin-top: 50px">
    <h2>ABOUT US</h2>
</div>
</body>
</html>