<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/main.css') }}>
    <title>Calculatro</title>
</head>
<body>
<div>
    <form class="solver-box">
        <div class="input-box">
            <h2>Solve equation</h2>
        </div>
        <div class="input-box">
            <textarea required="required"></textarea>
            <label>Equation</label>
        </div>
    </form>
</div>
</body>
</html>